RewriteEngine on
#RewriteCond %{REQUEST_URI} ^/parcelshop/$
#RewriteRule (.*) http://139.59.14.199/parcelshop/public/ [R=301,L]
#RewriteRule ^parcelshop/public/(.*)$ /parcelshop/$1 [R=301,NC,L]
RewriteRule ^(.*)$ public/$1 [L]